// variables

$black: #0D0B0F;
$blackLightGradient: linear-gradient(28deg, rgba(45,44,49,1) 0%, rgba(46,45,52,1) 100%); //property: background
$red: #E51736;
$blue: #28B3FF;
$green: #00CC61;
$white: #ffffff;
$morningGradient: linear-gradient(28deg, rgba(41,127,184,1) 0%, rgba(255,159,111,1) 100%);
$dayGradient: linear-gradient(28deg, rgba(255,95,109,1) 0%, rgba(255,195,113,1) 100%);
$eveningGradient: linear-gradient(28deg, rgba(255,195,113,1) 0%, rgba(46,45,52,1) 100%);
$nightGradient: linear-gradient(28deg, rgba(41,128,185,1) 0%, rgba(44,62,80,1) 100%);

$br-standard: 50px;

*{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    color: $white;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}

a.dashboardButton{
    background-color: $blue;
    font-size: 14pt;
    border: none;
    padding: 20px;
    border-radius: 100px;
    @media only screen and (max-width: 450px){
        margin-top: 20px;
    }
}

h1{
    font-size: 25pt;
    white-space: nowrap;
    @media only screen and (min-width:800px){
        white-space: normal;
    }
}
h2{
    font-size: 20pt;
    white-space: nowrap;
    @media only screen and (max-width:800px){
        white-space: normal;
    }
}
h3{
    font-size: 18pt;
    white-space: nowrap;
    @media only screen and (min-width:800px){
        white-space: normal;
    }
}
p{
    font-size: 14pt;
}

#offCanvasSun, #offCanvasSunset, #offCanvasMoon{
    position: absolute;
    right: 0%;
    top: 0%;
    transform: translateX(50%) translateY(-50%);
    opacity: 0;
    transition: opacity .5s linear;
    transition-delay: 0s;
    @media only screen and (max-width: 600px){
        transform: translateX(20%) translateY(20%);
        right: unset;
        top: unset;
    }
}


body{
    background: $black;
    main.container{
        padding: 20px;
        @media only screen and (max-width: 450px){
            padding: 10px;
        }
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        @media only screen and (min-width: 1500px){
            height: 100%;
            overflow: visible;
        }
        max-width: 1500px;
        margin: 0 auto;
        header{
            display: flex;
            flex-direction: column;
            width: 50%;
            @media only screen and (max-width: 450px){
                width: 100%;
            }
            h2{
                color: #5E5C66;
                margin-top: 10px;
            }
        }
        overflow: hidden;
        section#dashboard{
            border-radius: $br-standard;
            margin-top: 30px;
            overflow-x: visible;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            transition: background-color 5s cubic-bezier(1, 1, 1, 1);
            transition-delay: 0s;
            > section{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px 20px 0px 20px;
                @media only screen and (max-width: 450px){
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                }
                > section{
                    h1{
                        margin-bottom: 10px;
                    }
                }
            }
            section#dashboard-inner{
                margin: 100px 20px 20px 20px;
                @media only screen and (max-width: 450px){
                    margin: 100px 0px 0px 0px;
                }
                border-radius: $br-standard;
                padding: 0px;
                width: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                -webkit-transition: background-image 5s ease-in-out;
                transition: background-image 5s ease-in-out;
                >section{
                    text-align: center;
                    padding: 100px;
                    >h1{
                        margin-bottom: 30px;
                    }
                    article{
                        padding: 150px;
                        margin: 100px;
                        background-color: black;
                        border-radius: $br-standard;
                        position: relative;
                        @media only screen and (max-width: 1000px){
                            padding: 60px;
                        }
                        @media only screen and (max-width: 450px){
                            padding: 40px;
                        }
                        h1#timeText{
                            font-size: 60pt;
                            @media only screen and (max-width: 720px){
                                font-size: 40pt;
                            }
                        }
                    }
                }
            }
        }
        p.footer{
            width: 100%;
            text-align: center;
            color: #5E5C66;
            padding: 20px 0px;
        }
    }
}

